
* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(46, 52, 64, 0.95);
}

button {
    color: #D8DEE9;
    background-color: #3B4252;
    border: 2px solid #4C566A;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
    transition: all 0.3s ease;
}

button:focus,
button:active,
button:hover {
    background-color: #434C5E;
    border: 2px solid #88C0D0;
    outline-style: none;
}

#lock {
    background-image: url("icons/lock.png");
}

#logout {
    background-image: url("icons/logout.png");
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#reboot {
    background-image: url("icons/reboot.png");
}

#lock:hover {
    border-color: #EBCB8B;
}

#logout:hover {
    border-color: #A3BE8C;
}

#shutdown:hover {
    border-color: #BF616A;
}

#reboot:hover {
    border-color: #88C0D0;
}
